@import "nullstyle";

.wrapper {
}

.content {
  display: inline-block;
}

.header {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: flex;
  background-color: #C0C0C0;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0.2px 1px 1px #3a3a3a;

  &__smile {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 25px;
    overflow: hidden;
    background: url("../img/minesweeper-sprites_9TPZzv3.png") 0 -25px no-repeat;

    &:active {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") -26px -25px no-repeat;
    }

    &_surprise {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") -54px -25px no-repeat;
    }

    &_sad {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") -108px -25px no-repeat;
    }

    &_cool {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") -82px -25px no-repeat;
    }
  }

  &__mines {
    width: 12px;
    height: 25px;
    overflow: hidden;
    object-fit: fill;

    &_img {
      position: relative;
      top: 1px;
      left: -126px;
    }

    &_left {
    }

    &_center {
    }

    &_right {
    }

  }

  &__second {
    width: 12px;
    height: 25px;

    &_left {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") -126px 1px no-repeat;
    }

    &_center {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") -126px 1px no-repeat;
    }

    &_right {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") -126px 1px no-repeat;
    }
  }

  &__timer {
    display: flex;

    &_mines {
    }

    &_seconds {
    }

    &_animated > .header__second_left {
      animation: timer 901s steps(10, end) 99s forwards infinite;
    }

    &_animated > .header__second_center {
      animation: timer 91s steps(10, end) 9s forwards infinite;
    }

    &_animated > .header__second_right {
      animation: timer 10s steps(10, end) 0s forwards infinite;
    }

    &_paused > .header__second {
      animation-play-state: paused;
    }
  }
}

.field {
  position: relative;
  padding: 1px;
  box-shadow: inset 0.2px 1px 1px #3a3a3a;

  &__row {
    display: flex;
  }

  &__column {
  }

  &__cell {
    position: relative;
    width: 16px;
    height: 16px;
    background: url("../img/minesweeper-sprites_9TPZzv3.png") no-repeat -17px -50px;

    &:hover {
      background-color: #2f2f2f;
    }

    &:active {
      background-color: #000;
    }

    &_mine {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") no-repeat -85px -50px;
    }

    &_mine_activate {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") no-repeat -102px -50px;
    }

    &_one {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") no-repeat 0 -67px;
    }

    &_two {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") no-repeat -17px -67px;
    }

    &_three {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") no-repeat -34px -67px;
    }

    &_four {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") no-repeat -51px -67px;
    }

    &_five {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") no-repeat -68px -67px;
    }

    &_six {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") no-repeat -85px -67px;
    }

    &_seven {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") no-repeat -102px -67px;
    }

    &_eight {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") no-repeat -119px -67px;
    }

    &_mine_marked {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") no-repeat -119px -50px;
    }

    &_empty {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") no-repeat 0 -50px;
    }

    &_marker {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") no-repeat -34px -50px;
    }
    
    &_question {
      background: url("../img/minesweeper-sprites_9TPZzv3.png") no-repeat -51px -50px;
      &:active {
        background: url("../img/minesweeper-sprites_9TPZzv3.png") no-repeat -68px -50px;
      }
    }
  }

}

.sapper {
  background-color: #BDBDBD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 0.8px 1px 1px #878484;

  &_timer .finish {
    animation: finish_field 1000s steps(1, end) 0s forwards;
  }

  &_finished .finish {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
  }

  &_timer .field__cell_mine {
    animation: finish_mine 1000s steps(1, end) 0s forwards;
  }

  &_timer .header__smile {
    animation: finish_smile 1000s steps(1, end) 0s forwards;
  }
}

@keyframes finish_smile {
  0% {

  }
  100% {
    background: url("../img/minesweeper-sprites_9TPZzv3.png") -108px -25px no-repeat;
  }
}

@keyframes finish_mine {
  0% {

  }
  100% {
    background: url("../img/minesweeper-sprites_9TPZzv3.png") no-repeat -85px -50px;
  }
}

@keyframes finish_field {
  0% {

  }
  100% {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes timer {
  0% {
    background: url("../img/minesweeper-sprites_9TPZzv3.png") 0 1px;
  }
  100% {
    background: url("../img/minesweeper-sprites_9TPZzv3.png") -140px 1px;
  }
}
